.qtable{
    border: 1px solid white;
	color: white !important;
}
.qtable tr td{
	border: 1px solid white !important;
	padding: 5px;
	width: 50% !important;
	color: white;
}
.qtable tr th{
	border: 1px solid white;
	padding: 5px;
}